<h1>ng-brackets example</h1>

<div>
    <button (click)="rounds = examples[0]">Example 1</button>
    <button (click)="rounds = examples[1]">Example 2</button>
    <button (click)="rounds = examples[2]">Example 3</button>
    <button (click)="rounds = examples[3]">Example 4</button>
    <button (click)="useCustomJSON()">Custom JSON</button>
    <button (click)="rounded = !rounded">Toggle style</button>
</div>

<ng-brackets [rounds]="rounds" [rounded]="rounded"></ng-brackets>


<h2 style="margin-top: 2em">Custom template</h2>
<ng-brackets [rounds]="rounds" [rounded]="rounded">
    <ng-template #fixtureTemplate let-fixture>
        {{ fixture.home.name }} vs {{ fixture.away.name }}
    </ng-template>
</ng-brackets>

<h2 style="margin-top: 50px">Custom JSON</h2>
<textarea style="display: block;height: 250px;width: 100%" [(ngModel)]="customJSON"></textarea>